<div class="Box-body px-5 pb-5">
  <article class="markdown-body entry-content container-lg" itemprop="text">
    <h1><a id="user-content-trabalhe-conosco---desafio-01" class="anchor" aria-hidden="true"><svg
          class="octicon octicon-link" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
          </path>
        </svg></a>Trabalhe conosco - Desafio 01</h1>
    <p align="center">
    <p>Criar uma aplicação que simule uma agenda de compromissos de um consultório médico. Onde o(a) atendente poderá
      incluir, buscar, alterar e excluir os registros.</p>
    <h2><a id="user-content-orientações-gerais" class="anchor" aria-hidden="true"><svg class="octicon octicon-link"
          viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
          </path>
        </svg></a>Orientações Gerais</h2>
    <ul>
      <li>O resultado da solução deverá ser publicado no seu GitHub.</li>
      <li>Assim que concluir, envie um e-mail para <a>desafio@itixti.com.br</a> com
        a URL do repositório da solução.</li>
    </ul>
    <h2><a id="user-content-requisitos-funcionais" class="anchor" aria-hidden="true"><svg class="octicon octicon-link"
          viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
          </path>
        </svg></a>Requisitos Funcionais</h2>
    <ul>
      <li>O sistema deve apresentar os seguintes campos: Nome do paciente, Data de nascimento, Data e hora inicial da
        consulta, Data e hora final da consulta, e um campo de Observações.</li>
      <li>O sistema não deve permitir o agendamento de duas ou mais consultas no mesmo range de datas.</li>
      <li>A data final não pode ser menor que a data inicial.</li>
    </ul>
    <h2><a id="user-content-requisitos-técnicos" class="anchor" aria-hidden="true"><svg class="octicon octicon-link"
          viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
          </path>
        </svg></a>Requisitos Técnicos</h2>
    <ul>
      <li>Linguagem C#.</li>
      <li>Banco de dados MS SQL Server.</li>
      <li>Criar testes unitários para a solução.</li>
      <li>Desenvolver a interface gráfica utilizando o framework Angular.</li>
    </ul>
    <h2><a id="user-content-diferencial" class="anchor" aria-hidden="true"><svg class="octicon octicon-link"
          viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
          </path>
        </svg></a>Diferencial</h2>
    <ul>
      <li>Utilizar o .NET Core</li>
    </ul>
  </article>
</div>